<launch>
  <node name="cb" pkg="cometa_bridge" type="node" respawn="false" output="screen">
    <param name="num_imus" value="3"/>
  </node>

<group >
  <remap from="imu" to="imu0"/>
  <node pkg="imu_complementary_filter" type="complementary_filter_node"
      name="complementary_filter_gain_node" output="screen">
    <param name="do_bias_estimation" value="true"/>
    <param name="do_adaptive_gain" value="true"/>
    <param name="use_mag" value="false"/>
    <param name="gain_acc" value="0.01"/>
    <param name="gain_mag" value="0.01"/>
  </node>

  <node name="tf_from_imu" pkg="ar_test" type="tf_from_imu.py" respawn="false" output="screen" >
    <param name="origin" value="0.1 0.2 0.3" />
    <param name="tf_name" value="torax" />
  </node>
</group>

</launch>

